<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="1"><ion-button (click)="dl()">表示</ion-button></ion-col>

      </ion-row>
      <ion-row>

        <ion-col size="3"
          *ngFor="let img of imgs; index as position">
            <ion-img [src]="img"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
